<header>
    <nav>
      <a href="/">Catalogo de gatos</a>
      <ul>
        <li><a href="/gatos">Gatos</a></li>
        <li><a href="/gatos/novo">Adicionar Gato</a></li>
      </ul>
    </nav>
  </header>