<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../public/index.css">
        <title>trabai ae</title>
    </head>
    <body>
        <header>cabeçalho</header>
        <main>conteudo</main>
        <footer>rodapé</footer>
    </body>
</html>