<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>trabai ae</title>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <header>
        </header> 
        <main>conteudo</main>
        <%- include( './parciais/cabecalho.ejs') %> 
        <%- include( './parciais/mensagem_de_erro.ejs') %> 
        <%- body %>
        <footer>rodapé</footer>
    </body>
</html>